.form-section {
    border: 1px solid #868383;
    width: 250px;
    margin: auto;
    padding: 5rem;
}

.form-group  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}
.form-group input , .form-group textarea {
    padding-left: 5PX;
    width: 190px;
    padding: 10px 7px;
    font-size: 14px;
    color: #868383;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #d4cdcd;
}

.form-group input:focus, .form-group textarea:focus {
    border: 1px solid #3cd4cd;
    outline: none;
}

.form-group b {
    color: red;
    font-size: 14px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.submit-btn {
    background: #3cd4cd;
    border: 1px solid #3cd4cd;
    color: #fff;
}

.submit-btn:hover {
    box-shadow: 2px 3px #e8e4e4;
}

.cancel-btn {
    background: #fff;
    color: #000;
    border: 1px solid #868383;
    margin-left: 10px;
}

.cancel-btn:hover {
    box-shadow: 2px 3px #e8e4e4;
}

.add-more-btn {
    color: #3cd4cd;
    margin-top: -17px;
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
}

.delete-btn {
    float: right;
    color: #928b8b;
    border: 1px solid #928b8b;
    border-radius: 20px;
    padding: 4px 7px;
    margin-right: 40px;
    font-size: 10px;
    cursor: pointer;
}

button.btn.submit-btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}
