<section class="form-section">
  <div class="text-center">
      <button type="button" class="btn submit-btn" (click)="getLocation()">Detect Location</button>
   </div>
  <form [formGroup]="addressForm" novalidate>
    <div class="form-group">
      <label for="line_one">Line One</label>
      <input type="text" id="line_one" formControlName="line_one" >
    </div>
    <div class="form-group">
      <label for="line_two">Line Two</label>
      <input type="text" id="line_two" formControlName="line_two" >
    </div>
    <div class="form-group">
      <label for="state">state</label>
      <input type="text" id="state" formControlName="state" >
    </div>
    <div class="form-group">
      <label for="state">city</label>
      <input type="text" id="city" formControlName="city" >
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" id="country" formControlName="country" >
    </div>
    <div class="form-group">
      <label for="pin_code">Pincode</label>
      <input type="text" id="pin_code" formControlName="pin_code" >
    </div>
    <div>
      <button class="btn submit-btn" [disabled]="addressForm.invalid" type="submit">Submit</button>
      <button class="btn cancel-btn" type="reset">Cancel</button>
    </div>
  </form>
</section>